git rm -r --cached node_modules/# Ignorar arquivos relacionados ao módulo NRF
Inc/NRF24/*
Src/nrf24l01.c

# Ignorar arquivos relacionados ao SPI
Src/spi.c
Inc/spi.h

# (Opcional) Ignorar pasta Debug, se você não quiser subir arquivos de build
Debug/

# Ignorar arquivos de configuração do Eclipse (opcional)
.cproject
.project
.settings/
.gitignore